/* Reset de estilos */
body {
    font-family: Arial, sans-serif !important;
}

h1 {
	color: #30a19c !important;
    text-align: center !important;
    font-size: 35px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


h2 {
    color: #30a19c !important;
	font-size: 25px !important;
}

h3{
    color: #2c9690 !important;
    font-size: 18px  !important;
    font-weight: bold !important;
}

h4{
    color: #316cb9 !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

/* Alinea los indices a la izquierda */
.toctree-l1, .toc-h2, .toc-h3{
    text-align: left !important;
}

.output.highlight-myst-ansi.notranslate .highlight pre{
    background-color: none;
    font-size: 13px;
}

.highlight-ipython3.notranslate .highlight pre{
    background-color: none;
    font-size: 13px;
}

/* Imágenes responsivas */

.logo__image{
    width: 80px !important;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.reference.internal.nav-link{
    font-size: 13px;
}

/* Párrafos y listas */
p, ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 13px;
}

.right-next .prev-next-title{
    text-align: right !important;
}

.right-next .prev-next-title{
    text-align: right !important;
}

.left-prev .prev-next-title{
    text-align: left !important;
}

ul {
    list-style: square;
}

ul li::marker {
    color: #24726e;
    font-size: 1.5em;
}

/* Tablas */
table {
    border-collapse: collapse !important;
    font-size: 11px !important;
    width: 100% !important;
}

th, td {
    padding: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead th {
    font-weight: bold;
    border-bottom: 1px solid #215c4a !important; /* Línea negra bajo la cabecera */
}

tr:last-child {
    border-bottom: none; /* Evita línea extra en la última fila */
}

.extra_footer {
    color: rgb(19, 99, 88);
    text-align: center;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
	max-width: 75%;
}


.extra_footer .social-links a img {
    width: 30px !important;
    filter: brightness(1.2); /* Resalta los íconos verdes */
    transition: transform 0.3s ease;
	display: inline;
}

.extra-footer .social-links a img:hover {
    transform: scale(1.2);
}

.component-author {
    display: none !important;
}


/* Responsive */
@media screen and (max-width: 768px) {    

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 16px !important;
    }
    
    h3{
        font-size: 14px !important;
    }
    
    h4{
        font-size: 12px !important;
    }
    
    p, ul{
        font-size: 12px !important;
    }

    .output.highlight-myst-ansi.notranslate .highlight pre{
        font-size: 11px;
    }

    .highlight-ipython3.notranslate .highlight pre{
        font-size: 11px;
    }

    table {
        border-collapse: collapse;
        font-size: 10px;
    }
	
	.extra_footer {
		max-width: 100%;
	}

    table {
        font-size: 11px !important;
    }

    .reference.internal.nav-link{
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 18px;
    }
}